################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ICADRenamer/v16/Server/sqlite3/db.lock
